body {
  background-color: green;
}

.card {
  border-radius: 15px;
  text-align: center;
  width: 300px;
  height: 500px;
  background-color: white;
  margin: auto;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top-suit {
  padding-left: 3px;
  margin: 0;
  align-self: flex-start;
}

.bottom-suit {
  align-self: flex-end;
  transform: rotate(180deg);
  padding-left: 3px;
  margin: 0;
}

.red {
  color: red;
}
