body {
  background: green;
}
.card {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  height: 400px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid black;
}
.top-suit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.bottom-suit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
.number {
  position: absolute;
  text-align: center;
  font-size: 80px;
}
.spade {
  content: "♠";
  color: black;
}
.heart {
  content: "♥";
  color: red;
}
.club {
  content: "♣";
  color: black;
}
.diamond {
  content: "♦";
  color: red;
}
